.meta-section {
    min-height: 60vh;
    width: 100%;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4.3rem;
}

.text-section {
    width: 44%;
}

.text-section h1 {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1.8rem;
}

.text-section p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}

.text-section button {
    height: 2.7rem;
    width: 10rem;
    border: none;
    background-color: white;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Red Rose', cursive;
    color:#A02279;
}

.image-section {
    /* height: 20vh; */
    width: 47%;
}

.image-section img {
    width: 100%;
}

@media screen and (max-width: 950px) {
    .meta-section {
        flex-direction: column;
        padding: 3rem 2rem;
    }

    .text-section{ 
        width: 100%;
        margin-bottom: 3rem;
    }

    .image-section {
        width: 100%;
    }

    .text-section h1 {
        font-size: 2.5rem;
    }
    
    .text-section p {
        font-size: 1rem;
    }
}